@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}

.loader {
  animation: loading 2s infinite linear;
}

@keyframes loading {
  100% {
    rotate: 360deg;
  }
}

.shadow {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7);
}

.shadow-sm {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.line {
  animation: line 5s 1 linear;
}

@keyframes line {
  100% {
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .mobile {
    width: 20rem;
  }
  .lg-justify-end {
    justify-content: flex-end;
  }
  .lg-gap-3 {
    gap: 12px;
  }
  .lg-pt-5 {
    padding-top: 15px;
  }
  .lg-p-3 {
    padding: 12px;
  }
  .profileside {
    min-width: 18rem;
  }
  .lg-text-sm {
    font-size: 15px;
  }
  .lg-pb-0 {
    padding-bottom: 0;
  }
  .lg-pt-6 {
    padding-top: 20px;
  }
  .lg-py-6 {
    padding: 10px 0;
  }
}

.grid-col-2 {
  grid-template-columns: 10% 80%;
}

.nav-button:focus {
  outline: none;
}


.profile {
  position: relative;
  display: inline-block;
}